In [52]:
import numpy as np
import pandas as pd
df=pd.read_csv('Phylogenic data - Species.csv',delimiter=',')
pidf=pd.df=pd.read_csv('Phylogeny.xlsx - Sheet2.csv',delimiter=',')

pidf

    Pidgey Sequence  Base  Unnamed: 2 Unnamed: 3  Unnamed: 4
0          Position   1.0         NaN        NaN         NaN
1                 1   1.0         NaN       1= A         NaN
2                 2   2.0         NaN       2= T         NaN
3                 3   4.0         NaN       3= G         NaN
4                 4   2.0         NaN       4= C         NaN
..              ...   ...         ...        ...         ...
96               96   2.0         NaN        NaN         1.0
97               97   2.0         NaN        NaN         NaN
98               98   4.0         NaN        NaN         NaN
99               99   4.0         NaN        NaN         NaN
100             100   NaN         NaN        NaN         NaN

[101 rows x 5 columns]

In [14]:
def differences(a,b):
    diff=0
    for i in range(100):
        if a[i] ==b[i]:
          diff+=1  
    return 100-diff

In [55]:
Pidgey=pidf['Base']
Pidgey

0      1.0
1      1.0
2      2.0
3      4.0
4      2.0
      ...
96     2.0
97     2.0
98     4.0
99     4.0
100    NaN
Name: Base, Length: 101, dtype: float64

In [65]:
Glaceon=df['Glaceon']
Vaporeon=df['Vaporeon']
Jolteon=df['Jolteon']
Espeon=df['Espeon']
Umbreon=df['Umbreon']
Flareon=df['Flareon']
Sylveon=df['Sylveon']
Leafeon=df['Leafeon']
differences(Umbreon,Espeon)

17